.camperItem {
    display: flex;
    /* gap: 24px; */
    border: 1px solid rgba(16, 24, 40, 0.2);
    border-radius: 20px;
    padding: 24px;
    position: relative;
    height: 358px;
}

.favoriteButton {
    background: none;
    border: none;
    cursor: pointer;
}

.camperImg {
    width: 290px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 24px;    
}

.camperItemDetails {
    /* display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: start; */
    width: 526px;
}

.camperItemTitle {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    justify-content: space-between;
    margin-right: auto;
}

.camperName {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.25;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: block;
    -webkit-line-clamp: 1;
}

.camperPriceWrap {
    display: flex;
    gap: 11px;
    align-items: center;
}

.camperPrise {
    display: flex;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.25;
}

.svgHeart {
    width: 24px;
    height: 24px;
    stroke-width: 2.30px;
    stroke: #101828;
    fill: transparent;
}

.camperRatingWrap {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.svgStar {
    width: 16px;
    height: 16px;
    fill: #ffc531;
    margin-right: 4px;
}

.camperRating {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    margin-right: 16px;
}

.svgMap {
    width: 16px;
    height: 16px;
    fill: transparent;
    stroke-width: 1.30px;
    stroke: #101828;
    margin-right: 4px;
    cursor: pointer;
}

.camperLocation {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
}

.camperDescription {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #475467;
    margin-bottom: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.camperButton {
    border-radius: 200px;
    padding: 16px 40px;
    width: 166px;
    height: 56px;
    background-color: #e44848;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: #fff;
    cursor: pointer;
    border: none;
    position: absolute;
    bottom: 24px;
    left: 338px;
}

.camperButton:hover,
.camperButton:focus {
    background-color: #d84343;
}